.logged-in-user-scrolled-location-edit-enabled, .logged-in-user-scrolled-location-edit-enabled * { box-sizing: border-box; }.logged-in-user-scrolled-location-edit-enabled {background: #ffffff; width: 1440px; height: 1024px; position: relative; overflow: hidden;}
 .group-7 {position: absolute; inset: 0;}
 .rectangle-4 {background: #ffffff; border-radius: 4px; border-style: solid; border-color: #e0e0e0; border-width: 1px; width: 692px; height: 472px; position: absolute; left: 200px;top: 446px;}
 .baseline-more-vert-24-px {position: absolute; left: 872px;top: 722px; transform: translate(-28px, 0px); overflow: visible;}
 .education {color: #000000; text-align: left; font: 500 18px 'IBM Plex Sans', sans-serif; position: absolute; left: 220px;top: 686px;}
 .tax-benefits-for-investment-under-national-pension-scheme-launched-by-government {color: #000000; text-align: left; font: 600 22px/134.55% 'IBM Plex Sans', sans-serif; position: absolute; left: 220px;top: 721px; width: 600px;}
 .rectangle-5 {background: linear-gradient(to left, #c4c4c4, #c4c4c4); border-radius: 4px 4px 0px 0px; width: 692px; height: 220px; position: absolute; left: 200px;top: 446px;}
 .i-ve-worked-in-ux-for-the-better-part-of-a-decade-from-now-on-i-plan-to-rei {color: #5c5c5c; text-align: left; font: 400 19px/134.17% 'IBM Plex Sans', sans-serif; position: absolute; left: 220px;top: 793px; width: 652px;}
 .rectangle-3 {border-radius: 24px; width: 48px; height: 48px; position: absolute; left: 220px;top: 850px;}
 .sarah-west {color: #000000; text-align: left; font: 600 18px 'IBM Plex Sans', sans-serif; position: absolute; left: 278px;top: 862px;}
 .group {width: 95px; height: 18px; position: static;}
 .icon-action-visibility-24-px {position: absolute; left: 695px;top: 865px; overflow: visible;}
 ._1-4-k-views {color: #525252; text-align: right; font: 500 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 721px;top: 865px;}
 .rectangle-42 {background: #ffffff; border-radius: 4px; border-style: solid; border-color: #e0e0e0; border-width: 1px; width: 692px; height: 490px; position: absolute; left: 200px;top: 934px;}
 .group-42-2 {width: 652px; height: 38px; position: static;}
 .rectangle-2 {background: #ffffff; border-radius: 8px; border-style: dashed; border-color: #a9aeb8; border-width: 0.7px; width: 652px; height: 38px; position: absolute; left: 220px;top: 1286px;}
 .visit-website {color: #e56135; text-align: center; font: 600 13px/140.4% 'IBM Plex Sans', sans-serif; position: absolute; left: 506px;top: 1296px;}
 .group-53 {width: 358px; height: 20px; position: static;}
 .outline-location-on-24-px {width: 20px; height: 20px; position: absolute; left: 426px;top: 1250px; overflow: hidden;}
 .bounding-boxes {position: absolute; left: 0px;top: 0px; overflow: visible;}
 .outline {position: absolute; inset: 0;}
 .group2 {position: absolute; left: 4.17px;top: 1.67px; overflow: visible;}
 .ahmedabad-india {color: #000000; text-align: left; font: 500 15px 'IBM Plex Sans', sans-serif; position: absolute; left: 450px;top: 1250px;}
 .fri-12-oct-2018 {color: #000000; text-align: left; font: 500 15px 'IBM Plex Sans', sans-serif; position: absolute; left: 244px;top: 1250px; width: 142px;}
 .baseline-today-24-px {position: absolute; left: 220px;top: 1250px; overflow: visible;}
 .baseline-more-vert-24-px2 {position: absolute; left: 872px;top: 1210px; overflow: visible;}
 .meetup {color: #000000; text-align: left; font: 500 18px 'IBM Plex Sans', sans-serif; position: absolute; left: 220px;top: 1174px;}
 .finance-investment-elite-social-mixer-lujiazui {color: #000000; text-align: left; font: 600 22px 'IBM Plex Sans', sans-serif; position: absolute; left: 220px;top: 1209px; width: 600px;}
 .rectangle-52 {background: linear-gradient(to left, #c4c4c4, #c4c4c4); border-radius: 4px 4px 0px 0px; width: 692px; height: 220px; position: absolute; left: 200px;top: 934px;}
 .group-52 {width: 160px; height: 48px; position: static;}
 .rectangle-32 {border-radius: 24px; width: 48px; height: 48px; position: absolute; left: 220px;top: 1356px;}
 .ronal-jones {color: #000000; text-align: left; font: 600 18px 'IBM Plex Sans', sans-serif; position: absolute; left: 278px;top: 1368px;}
 .icon-action-visibility-24-px3 {position: absolute; left: 695px;top: 1371px; overflow: visible;}
 ._1-4-k-views2 {color: #525252; text-align: right; font: 500 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 721px;top: 1371px;}
 .rectangle-43 {background: #ffffff; border-radius: 4px; border-style: solid; border-color: #e0e0e0; border-width: 1px; width: 692px; height: 269px; position: absolute; left: 200px;top: 1440px;}
 .icon-action-visibility-24-px5 {position: absolute; left: 695px;top: 1656px; overflow: visible;}
 ._1-4-k-views3 {color: #525252; text-align: right; font: 500 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 721px;top: 1656px;}
 .baseline-more-vert-24-px3 {position: absolute; left: 872px;top: 1496px; overflow: visible;}
 .job {color: #000000; text-align: left; font: 500 18px 'IBM Plex Sans', sans-serif; position: absolute; left: 220px;top: 1460px;}
 .software-developer {color: #000000; text-align: left; font: 600 22px/134.55% 'IBM Plex Sans', sans-serif; position: absolute; left: 220px;top: 1495px; width: 600px;}
 .rectangle-33 {border-radius: 24px; width: 48px; height: 48px; position: absolute; left: 220px;top: 1641px;}
 .joseph-gray {color: #000000; text-align: left; font: 600 18px 'IBM Plex Sans', sans-serif; position: absolute; left: 278px;top: 1653px;}
 .group-54 {width: 399px; height: 20px; position: static;}
 .outline-location-on-24-px2 {width: 20px; height: 20px; position: absolute; left: 510px;top: 1537px; overflow: hidden;}
 .bounding-boxes2 {position: absolute; left: 0px;top: 0px; overflow: visible;}
 .group3 {position: absolute; left: 4.17px;top: 1.67px; overflow: visible;}
 .noida-india {color: #000000; text-align: left; font: 500 15px 'IBM Plex Sans', sans-serif; position: absolute; left: 534px;top: 1537px;}
 .innovaccer-analytics-private-ltd {color: #000000; text-align: left; font: 500 15px 'IBM Plex Sans', sans-serif; position: absolute; left: 244px;top: 1537px;}
 .outline-work-outline-24-px {position: absolute; left: 220px;top: 1537px; overflow: visible;}
 .group-42 {width: 650px; height: 36px; position: static;}
 .rectangle-22 {background: #ffffff; border-radius: 10px; border-style: dashed; border-color: #a9aeb8; border-width: 0.7px; width: 650px; height: 36px; position: absolute; left: 222px;top: 1573px;}
 .apply-on-timesjobs {color: #02b875; text-align: center; font: 600 13px/140.4% 'IBM Plex Sans', sans-serif; position: absolute; left: 488px;top: 1582px;}
 .rectangle-44 {background: #ffffff; border-radius: 4px; border-style: solid; border-color: #e0e0e0; border-width: 1px; width: 692px; height: 472px; position: absolute; left: 200px;top: -42px;}
 .group-3 {width: 28px; height: 28px; position: static;}
 .baseline-more-vert-24-px4 {position: absolute; left: 872px;top: 234px; transform: translate(-28px, 0px); overflow: visible;}
 .article {color: #000000; text-align: left; font: 500 18px 'IBM Plex Sans', sans-serif; position: absolute; left: 220px;top: 198px;}
 .what-if-famous-brands-had-regular-fonts-meet-regula-brands {color: #000000; text-align: left; font: 600 22px/134.17% 'IBM Plex Sans', sans-serif; position: absolute; left: 220px;top: 233px; width: 600px;}
 .rectangle-53 {background: linear-gradient(to left, #c4c4c4, #c4c4c4); border-radius: 4px 4px 0px 0px; width: 692px; height: 220px; position: absolute; left: 200px;top: -42px;}
 .i-ve-worked-in-ux-for-the-better-part-of-a-decade-from-now-on-i-plan-to-rei2 {color: #5c5c5c; text-align: left; font: 400 19px/134.17% 'IBM Plex Sans', sans-serif; position: absolute; left: 220px;top: 305px; width: 652px;}
 .icon-action-visibility-24-px7 {position: absolute; left: 695px;top: 377px; overflow: visible;}
 ._1-4-k-views4 {color: #525252; text-align: right; font: 500 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 721px;top: 377px;}
 .rectangle-34 {border-radius: 24px; width: 48px; height: 48px; position: absolute; left: 220px;top: 362px;}
 .sarthak-kamra {color: #000000; text-align: left; font: 600 18px 'IBM Plex Sans', sans-serif; position: absolute; left: 278px;top: 374px;}
 .group-2 {width: 42px; height: 36px; position: static;}
 .rectangle-4-1 {background: #edeef0; border-radius: 2px; width: 42px; height: 36px; position: absolute; left: 830px;top: 368px;}
 .baseline-share-24-px {position: absolute; left: 842px;top: 377px; overflow: visible;}
 .group-2-1 {width: 42px; height: 36px; position: static;}
 .rectangle-4-12 {background: #edeef0; border-radius: 2px; width: 42px; height: 36px; position: absolute; left: 830px;top: 856px;}
 .baseline-share-24-px2 {position: absolute; left: 842px;top: 865px; overflow: visible;}
 .group-2-2 {width: 42px; height: 36px; position: static;}
 .rectangle-4-13 {background: #edeef0; border-radius: 2px; width: 42px; height: 36px; position: absolute; left: 830px;top: 1362px;}
 .baseline-share-24-px3 {position: absolute; left: 842px;top: 1371px; overflow: visible;}
 .group-2-3 {width: 42px; height: 36px; position: static;}
 .rectangle-4-14 {background: #edeef0; border-radius: 2px; width: 42px; height: 36px; position: absolute; left: 830px;top: 1647px;}
 .baseline-share-24-px4 {position: absolute; left: 842px;top: 1656px; overflow: visible;}
 .group-6 {width: 160px; height: 102px; position: static;}
 .rectangle-6 {background: #ffffff; border-radius: 4px; width: 160px; height: 102px; position: absolute; left: 712px;top: 1242px; box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 8px 0px rgba(0, 0, 0, 0.16);}
 .group-32 {width: 160px; height: 32px; position: static;}
 .rectangle-7 {border-style: solid; border-color: #000000; border-width: 1px; opacity: 0; width: 160px; height: 32px; position: absolute; left: 712px;top: 1246px;}
 .edit {color: #000000; text-align: right; font: 400 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 724px;top: 1253px;}
 .group-4 {width: 160px; height: 32px; position: static;}
 .rectangle-7-1 {border-style: solid; border-color: #000000; border-width: 1px; opacity: 0; width: 160px; height: 32px; position: absolute; left: 712px;top: 1277px;}
 .report {color: #000000; text-align: left; font: 400 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 724px;top: 1284px;}
 .group-5 {width: 160px; height: 32px; position: static;}
 .rectangle-7-2 {border-style: solid; border-color: #000000; border-width: 1px; opacity: 0; width: 160px; height: 32px; position: absolute; left: 712px;top: 1308px;}
 .option-3 {color: #000000; text-align: left; font: 400 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 724px;top: 1315px;}
 .rectangle {background: #ffffff; width: 1440px; height: 122px; position: absolute; left: 0px;top: 30px;}
 .rectangle2 {background: #ffffff; width: 1440px; height: 72px; position: absolute; left: 0px;top: 0px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);}
 .group-64 {position: absolute; inset: 0;}
 .baseline-arrow-drop-down-24-px {position: absolute; left: 1218px;top: 25px; overflow: visible;}
 .rectangle-62 {border-radius: 21px; width: 36px; height: 36px; position: absolute; left: 1062px;top: 18px;}
 .siddharth-goyal {color: #000000; text-align: left; font: 400 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 1110px;top: 27px; width: 104px;}
 .whole {width: 162.57px; height: 24px; position: absolute; left: 72px;top: 24px; overflow: hidden;}
 .whole2 {position: absolute; inset: 0;}
 .group-642 {width: 24.02px; height: 24.01px; position: static;}
 .ellipse-24 {position: absolute; left: 93.32px;top: 8.53px; overflow: visible;}
 .group-63 {width: 24.02px; height: 24.01px; position: static;}
 .group-61 {position: absolute; left: 84.79px;top: 0px; overflow: visible;}
 .group-62 {position: absolute; left: 97.63px;top: 0px; overflow: visible;}
 .path-957 {position: absolute; left: 84.82px;top: 12.79px; overflow: visible;}
 .path-958 {position: absolute; left: 103.32px;top: 12.79px; overflow: visible;}
 .path-959 {position: absolute; left: 84.79px;top: -0.01px; overflow: visible;}
 .path-960 {position: absolute; left: 97.63px;top: 12.79px; overflow: visible;}
 .path-961 {position: absolute; left: 90.31px;top: 12.82px; overflow: visible;}
 .path-962 {position: absolute; left: 97.63px;top: 0px; overflow: visible;}
 .group-65 {position: absolute; left: -0.01px;top: 1.17px; overflow: visible;}
 .group-66 {position: absolute; left: 111.58px;top: 1.37px; overflow: visible;}
 .union-1 {position: absolute; left: 84.79px;top: 0px; overflow: visible;}
 .group-29 {position: absolute; inset: 0;}
 .rectangle3 {background: #f2f2f2; border-radius: 21px; width: 360px; height: 42px; position: absolute; left: 540px;top: 16px;}
 .group-28 {width: 22px; height: 22px; position: static;}
 .baseline-search-24-px {position: absolute; left: 554px;top: 26px; overflow: visible;}
 .search-for-your-favorite-groups-in-atg {color: #5c5c5c; text-align: left; font: 500 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 590px;top: 28px;}
 .line {border-style: solid; border-color: #e0e0e0; border-width: 1px 0 0 0; width: 1040px; height: 0px; position: absolute; left: 200px;top: 140px;}
 .line2 {border-style: solid; border-color: #e0e0e0; border-width: 1px 0 0 0; opacity: 0; width: 1296px; height: 0px; position: absolute; left: 72px;top: 84px;}
 .line-2 {border-style: solid; border-color: #000000; border-width: 1px 0 0 0; width: 93px; height: 0px; position: absolute; left: 200px;top: 140px;}
 .group-34 {position: absolute; inset: 0;}
 .all-posts-32 {color: #000000; text-align: left; font: 400 16px 'IBM Plex Sans', sans-serif; position: absolute; left: 200px;top: 99px;}
 .article2 {color: #8a8a8a; text-align: left; font: 400 16px 'IBM Plex Sans', sans-serif; position: absolute; left: 313px;top: 99px;}
 .event {color: #8a8a8a; text-align: left; font: 400 16px 'IBM Plex Sans', sans-serif; position: absolute; left: 380px;top: 99px;}
 .education2 {color: #8a8a8a; text-align: left; font: 400 16px 'IBM Plex Sans', sans-serif; position: absolute; left: 439px;top: 99px;}
 .job2 {color: #8a8a8a; text-align: left; font: 400 16px 'IBM Plex Sans', sans-serif; position: absolute; left: 531px;top: 99px;}
 .group-56 {position: absolute; inset: 0;}
 .rectangle-45 {background: #ffffff; border-radius: 4px; border-style: solid; border-color: #e0e0e0; border-width: 1px; width: 692px; height: 490px; position: absolute; left: 200px;top: 1144px;}
 .rectangle-23 {background: #ffffff; border-radius: 8px; border-style: dashed; border-color: #a9aeb8; border-width: 0.7px; width: 652px; height: 38px; position: absolute; left: 220px;top: 1496px;}
 .visit-website2 {color: #e56135; text-align: center; font: 600 13px/140.4% 'IBM Plex Sans', sans-serif; position: absolute; left: 506px;top: 1506px;}
 .outline-location-on-24-px3 {width: 20px; height: 20px; position: absolute; left: 426px;top: 1460px; overflow: hidden;}
 .bounding-boxes3 {position: absolute; left: 0px;top: 0px; overflow: visible;}
 .group4 {position: absolute; left: 4.17px;top: 1.67px; overflow: visible;}
 .ahmedabad-india2 {color: #000000; text-align: left; font: 500 15px 'IBM Plex Sans', sans-serif; position: absolute; left: 450px;top: 1460px;}
 .fri-12-oct-20182 {color: #000000; text-align: left; font: 500 15px 'IBM Plex Sans', sans-serif; position: absolute; left: 244px;top: 1460px; width: 142px;}
 .baseline-today-24-px2 {position: absolute; left: 220px;top: 1460px; overflow: visible;}
 .baseline-more-vert-24-px5 {position: absolute; left: 872px;top: 1420px; overflow: visible;}
 .meetup2 {color: #000000; text-align: left; font: 500 18px 'IBM Plex Sans', sans-serif; position: absolute; left: 220px;top: 1384px;}
 .finance-investment-elite-social-mixer-lujiazui2 {color: #000000; text-align: left; font: 600 22px 'IBM Plex Sans', sans-serif; position: absolute; left: 220px;top: 1419px; width: 600px;}
 .rectangle-54 {background: linear-gradient(to left, #c4c4c4, #c4c4c4); border-radius: 4px 4px 0px 0px; width: 692px; height: 220px; position: absolute; left: 200px;top: 1144px;}
 .group-522 {width: 652px; height: 48px; position: static;}
 .icon-action-visibility-24-px9 {position: absolute; left: 777px;top: 1581px; overflow: visible;}
 ._1-4-k-views5 {color: #525252; text-align: right; font: 500 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 803px;top: 1581px;}
 .rectangle-35 {border-radius: 24px; width: 48px; height: 48px; position: absolute; left: 220px;top: 1566px;}
 .ronal-jones2 {color: #000000; text-align: left; font: 600 18px 'IBM Plex Sans', sans-serif; position: absolute; left: 278px;top: 1578px;}
 .group-57 {position: absolute; inset: 0;}
 .rectangle-46 {background: #ffffff; border-radius: 4px; border-style: solid; border-color: #989899; border-width: 0.8px; width: 134px; height: 36px; position: absolute; left: 1106px;top: 92px;}
 .leave-group {color: #6a6a6b; text-align: left; font: 500 15px 'IBM Plex Sans', sans-serif; position: absolute; left: 1144px;top: 100px;}
 .outline-exit-to-app-24-px {position: absolute; left: 1116px;top: 99px; overflow: visible;}
 .group-612 {position: absolute; inset: 0;}
 .rectangle-47 {background: #edeef0; border-radius: 4px; width: 133px; height: 36px; position: absolute; left: 957px;top: 92px;}
 .write-a-post {color: #000000; text-align: left; font: 500 15px 'IBM Plex Sans', sans-serif; position: absolute; left: 969px;top: 100px;}
 .baseline-arrow-drop-down-24-px2 {position: absolute; left: 1062px;top: 99px; overflow: visible;}
 .line-3 {border-style: solid; border-color: #b8b8b8; border-width: 0.4px 0 0 0; width: 243px; height: 0px; position: absolute; left: 995px;top: 225px;}
 .enter-your-location {text-align: left; font: 400 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 1017px;top: 196px;}
.enter-your-location-span {
      color: #000000;
      font: 400 14px 'IBM Plex Sans', sans-serif;
    }
.enter-your-location-span2 {
      color: #808080;
      font: 400 14px 'IBM Plex Sans', sans-serif;
    }
 .outline-location-on-24-px-2 {position: absolute; left: 995px;top: 196px; overflow: visible;}
 .group-422 {position: absolute; inset: 0;}
 .your-location-will-help-us-serve-better-and-extend-a-personalised-experience {color: #000000; text-align: left; font: 400 12px 'IBM Plex Sans', sans-serif; opacity: 0.5; position: absolute; left: 1018px;top: 257px; width: 220px;}
 .baseline-error-outline-24-px {opacity: 0.5; position: absolute; left: 995px;top: 258px; overflow: visible;}
 .baseline-clear-24-px {position: absolute; left: 1218px;top: 195px; overflow: visible;}
 .group-652 {position: absolute; inset: 0;}
 .r-ecommended-groups {color: #000000; text-align: left; font: 400 14px 'IBM Plex Sans', sans-serif; text-transform: uppercase; position: absolute; left: 1017px;top: 343px;}
 .rectangle-63 {border-radius: 21px; width: 36px; height: 36px; position: absolute; left: 995px;top: 385px;}
 .leisure {color: #000000; text-align: left; font: 400 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 1043px;top: 394px; width: 104px;}
 .rectangle-72 {background: #edeef0; border-radius: 14px; width: 60px; height: 24px; position: absolute; left: 1175px;top: 391px;}
 .follow {color: #000000; text-align: center; font: 400 12px 'IBM Plex Sans', sans-serif; position: absolute; left: 1187px;top: 395px;}
 .rectangle-7-12 {background: #edeef0; border-radius: 14px; width: 60px; height: 24px; position: absolute; left: 1175px;top: 449px;}
 .rectangle-64 {border-radius: 21px; width: 36px; height: 36px; position: absolute; left: 995px;top: 443px;}
 .activism {color: #000000; text-align: left; font: 400 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 1043px;top: 452px; width: 104px;}
 .follow2 {color: #000000; text-align: center; font: 400 12px 'IBM Plex Sans', sans-serif; position: absolute; left: 1187px;top: 453px;}
 .rectangle-7-22 {background: #edeef0; border-radius: 14px; width: 60px; height: 24px; position: absolute; left: 1175px;top: 507px;}
 .rectangle-65 {border-radius: 21px; width: 36px; height: 36px; position: absolute; left: 995px;top: 501px;}
 .follow3 {color: #000000; text-align: center; font: 400 12px 'IBM Plex Sans', sans-serif; position: absolute; left: 1187px;top: 511px;}
 .mba {color: #000000; text-align: left; font: 400 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 1043px;top: 510px; width: 104px;}
 .rectangle-7-3 {background: #edeef0; border-radius: 14px; width: 60px; height: 24px; position: absolute; left: 1175px;top: 565px;}
 .follow4 {color: #000000; text-align: center; font: 400 12px 'IBM Plex Sans', sans-serif; position: absolute; left: 1187px;top: 569px;}
 .rectangle-66 {border-radius: 21px; width: 36px; height: 36px; position: absolute; left: 995px;top: 559px;}
 .philosophy {color: #000000; text-align: left; font: 400 14px 'IBM Plex Sans', sans-serif; position: absolute; left: 1043px;top: 568px; width: 104px;}
 .twotone-thumb-up-24-px {position: absolute; left: 995px;top: 343px; overflow: visible;}
 .see-more {color: #2f6ce5; text-align: right; font: 400 12px 'IBM Plex Sans', sans-serif; position: absolute; left: 1175px;top: 649px;}
